[submodule "SimpleScript"]
	path = SimpleScript
	url = https://github.com/SuperJMN/SimpleScript.git
[submodule "Source/Registry"]
	path = Source/Registry
	url = https://github.com/EricZimmerman/Registry.git
[submodule "Source/RunProcessAsTask"]
	path = Source/RunProcessAsTask
	url = https://github.com/SuperJMN/RunProcessAsTask.git
[submodule "Source/Iridio"]
	path = Source/Iridio
	url = https://github.com/SuperJMN/Iridio.git
[submodule "Zafiro"]
	path = Zafiro
	url = https://github.com/SuperJMN-Zafiro/Zafiro.git
