[submodule "SimpleScript"]
	path = SimpleScript
	url = https://github.com/SuperJMN/SimpleScript.git
[submodule "Source/SimpleScript"]
	path = Source/SimpleScript
	url = https://github.com/SuperJMN/SimpleScript.git
[submodule "Source/Registry"]
	path = Source/Registry
	url = https://github.com/EricZimmerman/Registry.git
[submodule "Source/RunProcessAsTask"]
	path = Source/RunProcessAsTask
	url = https://github.com/SuperJMN/RunProcessAsTask.git
[submodule "Source/Zafiro"]
	path = Source/Zafiro
	url = https://github.com/SuperJMN-Zafiro/Zafiro.git
[submodule "Source/Markdown.XAML"]
	path = Source/Markdown.XAML
	url = https://github.com/SuperJMN/Markdown.XAML.git