[submodule "Markdown.XAML"]
	path = Source/Markdown.XAML
	url = https://github.com/SuperJMN/Markdown.XAML.git
[submodule "Source/Registry"]
	path = Source/Registry
	url = https://github.com/EricZimmerman/Registry.git
[submodule "Source/RunProcessAsTask"]
	path = Source/RunProcessAsTask
	url = https://github.com/SuperJMN/RunProcessAsTask.git
